body {
    background-color: #7e8fb9;
  }
  .container-custom {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  .form-group label {
    font-weight: bold;
  }
    .navbar-custom {
      background-color: #11368d;
    }
    .navbar-custom .nav-link {
      color: white !important;
    }
    .navbar-brand img {
      width: 40px;
      height: 40px;
    }
    .navbar-profile img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .navbar-toggler {
      border-color: white;
    }
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .navbar-toggler-container {
      display: flex;
      align-items: center;
    }
    
    .menu-section {
      position: absolute;
      width: 100%;
      top: 120px;
      z-index: 999;
    }
    #map { height: 180px; }

    .section {
      padding: 0 16px;
      padding-top: 20px;
    }
    
    .card {
      background: #ffffff;
      border-radius: 12px;
      border: 0;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    }
    .card .card-body {
      padding: 20px 16px;
      line-height: 24px;
    }

    .list-menu {
      display: flex;
      justify-content: space-around;
    } 
    
    
    .presencecontent {
      display: flex;
      justify-content: space-evenly;
    }

    
    .iconpresence {
      font-size: 30px;
      align-items: center;
    }

    .gradasigreen {
      color: white;
      background-image: linear-gradient(
        to bottom right,
        rgba(21, 189, 74, 1),
        rgba(21, 189, 74, 0.8)
      );
    }
    
    .gradasired {
      color: white;
      background-image: linear-gradient(
        to bottom right,
        rgba(184, 13, 45, 1),
        rgba(184, 13, 45, 0.8)
      );
    }    

    .iconpresence {
      font-size: 30px;
    }
    .profile-container {
      max-width: 365px;
      margin: auto;
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position: relative;
  }

  .banner {
      width: 100%;
      height: auto;
      overflow: hidden;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }

  .banner-img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
  }

  .profile-pic {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 5px solid white;
      position: absolute;
      top: 100px;
      left: calc(50% - 50px);
  }

  .logout-button {
      background-color: #dc3545;
      color: white;
      border: none;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      margin-top: 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .logout-button:hover {
      background-color: #c82333;
  }

  .summary-section .card {
    margin: 2px;
    

}

.summary-section .col-3 {
    padding: 3px;
   
}

.summary-section .card-body {
    padding: 5px;

}

  @media (min-width: 768px) {
      .profile-container {
          max-width: 900px;
      }

      .profile-pic {
          width: 150px;
          height: 150px;
          top: 150px;
          left: calc(50% - 75px);
      } 
      .navbar-profile {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    @media (max-width: 991.98px) {
      .navbar-profile {
        position: static;
        margin-left: 10px;
      }
    }